<div class="row mt-5" *ngIf=singleRecipeState>
  <div class="col-12">
    <img src="{{(singleRecipeState | async).recipes[id].imagePath}}" alt="" class="img-fluid">
  </div>
  <div class="col-12">
    <h2>{{(singleRecipeState | async).recipes[id].name}}</h2>
  </div>
  <div class="col-12" appDropdown>
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Recipe</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="onAddIng()">Add Ingredient</a>
      <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
      <a class="dropdown-item" (click)='onDeleteRecipe()'>Delete Recipe</a>
    </div>
  </div>
  <div class="col-12">
    {{(singleRecipeState | async).recipes[id].description}}
  </div>
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor='let ing of (singleRecipeState | async).recipes[id].ingredients'>
        {{ing.name}} - {{ing.amount}}
      </li>
    </ul>
  </div>
</div>
