<div class="row">
  <div class="col-12">
    <form #form='ngForm' (ngSubmit)='onSubmit(form)'>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id='name' ngModel name='name' required #name='ngModel' s>
        <small class="text-danger" *ngIf='name.touched && name.errors?.required'>Please enter an ingredient</small>
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" id='amount' ngModel name='amount' required pattern='^[1-9]+[0-9]*$'>
      </div>
      <div class="btn-group d-block my-3" role="group">
        <button type='submit' class="btn btn-outline-success mx-2" [disabled]='form.invalid'>{{editMode ? 'Update' : 'Add'}} </button>
        <button type="button" class="btn btn-outline-danger" *ngIf='editMode' (click)='onDelete()'>Delete</button>
        <button type="button" class="btn btn-outline-info mx-2" (click)='onClear()'>Clear</button>
      </div>
    </form>
  </div>
</div>
