<div class="row">
  <div class="col-12">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control">
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="inlineRadioOptions" id='single' value='single'>
        <label class="form-check-label" for="single">Single</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="inlineRadioOptions" id='grams' value='grams'>
        <label class="form-check-label" for="grams">Grams</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="inlineRadioOptions" id='kg' value='kg'>
        <label class="form-check-label" for="kg">Kilos</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" name="inlineRadioOptions" id='litres' value='litres'>
        <label class="form-check-label" for="litres">Litres</label>
      </div>
      <div class="btn-group d-block my-3" role="group">
        <button type='submit' class="btn btn-outline-success mx-2">Add</button>
        <button type="button" class="btn btn-outline-danger" mx-2>Delete</button>
        <button type="button" class="btn btn-outline-info mx-2">Clear</button>
      </div>
    </form>
  </div>
</div>
